@import "~materialize-css/dist/css/materialize.min.css";

.app-container{
    margin-left: 120px;
    margin-right: 20px;
    margin-top: 10px;
}

nav .brand-logo {
    margin-left: 20px;
    color: whitesmoke;
}

nav>div>ul>li>a {
    color: whitesmoke;
}
  
label.active {
    color: darkgrey !important;
  }